* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    text-align: center;
}

.Box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.Game{
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px 
}

.box {
    height: 20vmin;
    width: 20vmin;
    border-radius:10px;
    border: none;
    font-size: auto;
    color: red;
    background-color: blanchedalmond;
}

#reset {
    padding: 20px;
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;

}

