* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
    text-align: center;
}

.Box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center; 

}

.Game{
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin; 
}

.box {
    height: 20vmin;
    width: 20vmin;
    border-radius:1rem;
    border: none;
    font-size: 10vmin;
    color: red;
    background-color: blanchedalmond;
}

#reset {
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border:none;
}

#newButton {
    padding: 1rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
}

#ms {
    color:aqua;
    font-size: large;
}

.msg {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    
}

.hide {
    display: none;
}
